//
// Variables
// --------------------------------------------------

// Colors
// --------------------------------------------------

$black: #000 !default;
$white: #FFF !default;
$green-primary: #3f6b5f !default;


$link-color: $green-primary !default;
$link-hover-color: darken($link-color, 15%) !default;

// Compass Vertical Rhythm Settings
// --------------------------------------------------

$base-font-size: 16px; // Sets the base font size
$base-line-height: 26px; // Sets the base line height

$round-to-nearest-half-line: true; // Allows compass to round to  multiples of 0.5x line height
$rhythm-unit: "rem"; // Sets rhythm unit to rem. Remove to use default em unit.

// Note these are custom. You have to tell compass to use them yourself
$h1-fz: 72px;
$h2-fz: 36px;
$h3-fz: 24px;
$h4-fz: 18px;
$h5-fz: 16px;
$h6-fz: 14px;

// Establishes baseline with Compass.
@include establish-baseline;